{% macro pagination(datagrid) %}
    {% if (datagrid.pagination.pageCount > 1) %}
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{{datagrid.urlNoPag}}{{datagrid.prefix}}page=1">&laquo;</a>
            </li>
            {% for i in range(datagrid.pagination.left, datagrid.pagination.right) %}
                {% if i == datagrid.pagination.currentPage %}
                    <li class="page-item active">
                        <a class="page-link" href="{{datagrid.urlNoPage}}{{datagrid.prefix}}page={{i+1}}">
                            <span>{{i+1}}
                                <span class="sr-only">(current)</span></span></a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{datagrid.urlNoPage}}{{datagrid.prefix}}page={{i+1}} ">{{i+1}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="{{datagrid.urlNoPage}}{{datagrid.prefix}}page={{datagrid.pagination.pageCount}}">&raquo;</a>
            </li>
        </ul>
    {% endif %}
{% endmacro %}

{% macro orderableHeader(content, key, datagrid) %}
    <a href="{{ datagrid.getOrderByUrl(key) }}">
        {{ content | safe }}
        {% if datagrid.isOrderedBy(key) == 'DESC' %}
            <i class="fas fa-sort-amount-up"></i>
        {% endif %}
        {% if datagrid.isOrderedBy(key) == 'ASC' %}
            <i class="fas fa-sort-amount-down"></i>
        {% endif %}
    </a>
{% endmacro %}